form {
    padding: 8px 8px;
    margin: 0 auto;
    min-width: 250px;
}

form>.form-group label {
    font-size: 2.4rem;
}

form>.form-group .form-control:not(textarea) {
    height: 48px;
    font-size: 2.4rem;
}

form>.form-group textarea.form-control {
    font-size: 2.4rem;
}

form label {
    margin-right: 50px;
}

form input[type="submit"] {
    font-size: 2.8rem;
    color: inherit;
}

.message-error {
    color: red;
}